@model PaginatedList<TaxWebApp.Models.Person>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    //ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "People";
}

<style>
    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<h1>Today is: @ViewData["toDayDate"] </h1>

<!-- Link to my example Page-->
@*<a href="/People/AllDetails">People Example</a> To a specific Person -> /People/Details/?
    <br />
    <a href="/Corporates/AllDetails">Corporates Example</a> To a specific Corporate -> /Corporates/Details/?*@
<h1>Current Weather in Seattle is: @ViewData["Weather"] </h1>



<h2>Customers:</h2>
<p>
    <a href="/People/Create/">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
    <div>
        <table class="table" style="width:70%">
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Number</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                </th>
                <th>Notes</th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PreparerSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Preparer</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Status</a>
                </th>
                <th></th>
            </tr>



            </tr>
            @*OLD WAY TO DISPLAY CONTENT*@
            @*@foreach (Person p in person)
            {
            <tr>
                <td>@p.Number</td>
                <td>@p.Name</td>
                <td>@p.New</td>*@
            @*<th>@p.ReferedBy</th>*@
            @*<th>@p.In</th>*@
            @*<th>@p.Scanned</th>*@
            @*<th>@p.Notes</th>
                <th>@p.Preparer</th>
                <th>@p.Status</th>
                <th><a href="/People/Details/@p.Id">Details</a></th>
                <th><a href="/People/Edit/@p.Id">Edit</a></th>
            </tr>
            }*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.New)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ReferedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.In)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Scanned)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preparer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a href="/People/Details/@item.Id">Details</a> |
                        <a href="/People/Edit/@item.Id">Edit</a>
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </table>
        <br />
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>

    </div>      
